[Unit]
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/marlinraker
ExecStart=/usr/local/bin/npm run start -- --silent
Restart=always
StartLimitBurst=3

[Install]
WantedBy=multi-user.target